version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  groups:
    all-go-mod-patch-and-minor:
      patterns: ["*"]
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "monthly"
  groups:
    github-actions:
      patterns:
        - "*"
